html {
  font-family: 'helvetica neue';
}

h1 {
  color: #fff;
  text-align: center;
}

.box1 {
  max-width: 1500px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  max-width: 500px;
  background-color: #A683E3;
  text-align: center;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.box2 {
  text-align: center;
  max-width: 1500px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.button {
  margin-top: 8px;
  margin-bottom: 5px;
}
